@forward "properties";
@use "variables" as var;
@use "mixins" as mix;

/*Reglas generales*/

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html, body, section{
    width: 100%;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 17% auto;
}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

header, main{
    @extend .bg-light, .shadow;
    @include mix.normalize($mv:.5rem, $pv:.25rem);
    border-radius: .25rem;
    color: var.$color-primary;
}

header{
    @include mix.flexbox();
}

form{
    @include mix.normalize(.5rem, $pv:.5rem);
    @include mix.flexbox($fd:column, $ai:flex-start, $g:.25rem);
    @extend .shadow, .col-md-8, .col-lg-12;
    background-color: white;
    border-radius: .5rem;
    color: var.$color-secondary;
    font-weight: 700;

    input, select{
        width: 100%;
    }

    h3, select, p{
        margin-bottom: .35rem;
    }

    p{
        font-weight: 400;
    }
}

button{
    @extend .bg-dark, .text-light;
    @include mix.normalize($mv:.5rem, $pv:.5rem);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .25rem;
}

.shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);   
}

@media screen and (min-width: 768px) {
    section{
        @include mix.flexbox($fd:column);
    }
}
 
@media screen and (min-width: 992px) {
    main{
        grid-template-columns: 35% auto;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1200px) {
    main{
        grid-template-columns: 30% auto;
    }
}
