@forward "properties";
@use "variables" as var;
@use "mixins" as mix;

/*Reglas generales*/

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html, body, nav{
    width: 100%;
}

body{
    background-color: map-get(var.$colors, light);
}

header, main{
    @include mix.normalize($mv:.5rem, $pv:.25rem);
    background-color: var.$color-secondary;
    border-radius: .25rem;
    color: var.$color-primary;
}

header{
    @include mix.flexbox();
}





