@forward "properties";
@use "variables" as var;
@use "mixins" as mix;

/*Reglas generales*/

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
}

header, main{
    @extend .bg-light, .shadow;
    @include mix.normalize($mv:.5rem, $pv:.25rem);
    border-radius: .25rem;
    color: var.$color-primary;
}

header{
    @include mix.flexbox();
    height: 17vh;
}

main{
    height: 77vh;
    display: grid;
    grid-template-columns: auto;
}

form{
    @include mix.normalize(.5rem, $pv:.25rem);
    @extend .col-md-8;
    
    input, select{
        width: 100%;
    }

    h3, select, p{
        margin-bottom:  .5rem;
    }
}




button{
    @extend .bg-dark, .text-light;
    @include mix.normalize($mv:.5rem, $pv:.5rem);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .25rem;
}

.shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);   
}


