$color-primary: rgb(133, 110, 96);
$color-secondary: rgb(241, 149, 96);
$colors: (
        light: rgb(210, 187, 174),
        dark: rgb(89, 59, 42),
        success:  #3c6,
        warning: #da3,
        danger:  #c33,
        info: #36c);
$attributes: 
    text color,
    bg background-color,
    border border-color;
$media: 
    md  768px   720px,
    lg  992px   960px,
    xl  1200px  1140px,
    xxl 1400px  1320px;
$col: 12;
